
@{
    ViewBag.Title = "Formulario";
}

<h2>Formulario</h2>

<form action="/home/formulario" method="post">
    <div>
        <label>Nombre</label>
        <input name="nombre" type="text" />
    </div>
    <button type="submit">Enviar</button>
</form>

<div>
    <h1>Hola @ViewBag.Nombre</h1>
</div>