
@{
    ViewBag.Title = "Index";
}

<h2>Hola Mundo...</h2>

<p>
    Ir al formulario haciendo clic <a href="/home/formulario">aqui</a>
    o ir a Google haciendo clic <a href="http://google.com">aqui</a>
</p>